<h1>Home</h1>

<table>
    <th>
        <tr>
            <td>ID</td>
            <td>Avatar</td>
            <td>Gym Leader</td>
            <td>Action</td>
        </tr>
    </th>
    <tbody>
    <% @gym_leader.each do |gym_leader| %>
        <tr>
          <td><%= gym_leader.id %></td>
          <td><img src="<%= gym_leader.avatar %>"></td>
          <td><%= gym_leader.name %></td>
          <td><%= link_to 'go to battle', home_path(gym_leader) %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>