<div class="card myCard myCardPlayerMargin">
    <h5 class="card-title myCardImgCon">
        <img src="<%= current_user.avatar %>" class="card-img-top trainerImg" alt="card-img-top">
        <img src="<%= current_user.cards.first.img_url %>" class="card-img-top pokemonImg" alt="card-img-top">
    </h5>
  <div class="card-body">
    <h5 class="card-title myCardPlayerTitle">
        <%= current_user.cards.first.name %>
    </h5>
    <p class="card-text">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                hp: <%= current_user.cards.first.hp %>/<%= current_user.cards.first.hp %>
            </div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                ability: <%= current_user.cards.first.ability %>
            </div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                damage: <%= current_user.cards.first.attack %>
            </div>
        </div>    
    </p>
  </div>
</div>

<div class="battleLink">
    <%= link_to 'Battle', user_attack_path, method: :post %>
</div>

<% if flash[:notice] %>
  <div class="toast toast-demo fade show battleLinkResultMargin myFlashNotice" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        Battle is over! <br> <br> <div class="notice"><%= flash[:notice].html_safe %></div>
        <div class="mt-2 pt-2">
            <%= link_to 'Back', root_path, class: "btn btn-primary btn-sm backLinkButton" %>
        </div>
    </div>
  </div>
<% end %>

<div class="card myCard myCardChallengerMargin">
    <h5 class="card-title myCardImgCon">
        <img src="<%= @gym_leader.avatar %>" class="card-img-top trainerImg" alt="card-img-top">
        <img src="<%= @gym_leader.cards.first.img_url %>" class="card-img-top pokemonImg" alt="card-img-top">
    </h5>
  <div class="card-body">
    <h5 class="card-title myCardPlayerGymLeader">
        <%= @gym_leader.cards.first.name %>
    </h5>
    <p class="card-text">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                hp: <%= @gym_leader.cards.first.hp %>/<%= @gym_leader.cards.first.hp %>
            </div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                ability: <%= @gym_leader.cards.first.ability %>
            </div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                damage: <%= @gym_leader.cards.first.attack %>
            </div>
        </div>    
    </p>
  </div>
</div>

<%# <%= link_to 'Attack Player', gym_leader_attack_path, method: :post %>