<div class="deck_cont">
    <div class="row row-cols-1 row-cols-md-4 g-4 rounded-3">
        <% @cards.each do |card| %>
       
        <div class="col">
    
            <%= link_to select_path(card), method: :patch do %>
                <div class="card deckCardDesign">
                <img src="<%= card.img_url %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= card.name.upcase %></h5>
                    <p class="card-text">Type: <%= card.pokemon_type%></p>
                    <p class="card-text">HP: <%=card.hp%></p>
                    <p class="card-text">Ability: <%=card.ability%></p>
                    <p class="card-text">Damage: <%=card.attack%></p>
                </div>
                </div>
            <% end %>
            
        </div>
        <% end %>
    </div>

</div>