<h1>Cards#index</h1>
<p>Find me in app/views/cards/index.html.erb</p>

<h1>POKEMONS</h1>
<table>
  <th>
    <tr>
      <td>Owner ID</td>
      <td>Card ID</td>
      <td>Pokemon</td>
      <td>Type</td>
      <td>Ability</td>
      <td>HP</td>
      <td>Attack</td>
      <td>Image</td>
    </tr>
  </th>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.user_id %></td>
        <td><%= card.id %></td>
        <td><%= card.name %></td>
        <td><%= card.pokemon_type %></td>
        <td><%= card.ability %></td>
        <td><%= card.hp %></td>
        <td><%= card.attack %></td>
        <td><img src="<%= card.img_url %>"></td>
        <td><%= link_to 'show card', card %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>PLAYERS</h1>
<table>
  <th>
    <tr>
      <td>User ID</td>
      <td>Avatar</td>
      <td>Username</td>
      <td>Win Rate</td>
    </tr>
  </th>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><img src="<%= user.avatar %>"></td>
        <td><%= user.email %></td>
        <td><%= user.winrate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>GYM LEADER</h1>
<table>
  <th>
    <tr>
      <td>Gym Leader ID</td>
      <td>Avatar</td>
      <td>Name</td>
    </tr>
  </th>
  <tbody>
    <% @gym_leader.each do |gym_leader| %>
      <tr>
        <td><%= gym_leader.id %></td>
        <td><img src="<%= gym_leader.avatar %>"></td>
        <td><%= gym_leader.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>