<h1>Cards#show</h1>

Owner: <%= @card.user_id %>
<br>
Card ID: <%= @card.id %>
<br>
Pokemon Name: <%= @card.name %>
<br>
Type: <%= @card.pokemon_type %>
<br>
Ability: <%= @card.ability %>
<br>
HP: <%= @card.hp %>
<br>
Attack: <%= @card.attack %>
<br>
<img src="<%= @card.img_url %>">